.otp-header{

margin-bottom:35px;

}

.otp-header h2{

font-size:2rem;

margin-bottom:15px;

}

.otp-header p{

color:var(--gray);

line-height:1.8;

}

.otp-form{

display:flex;

flex-direction:column;

gap:25px;

}

.otp-form input{

height:65px;

border:1px solid #d1d5db;

border-radius:16px;

font-size:2rem;

letter-spacing:12px;

text-align:center;

outline:none;

}

.otp-form input:focus{

border-color:var(--primary);

box-shadow:0 0 0 4px rgba(22,163,74,.12);

}

.otp-form button{

height:56px;

border:none;

background:var(--primary);

color:white;

font-weight:700;

border-radius:14px;

cursor:pointer;

}

.resend{

margin-top:25px;

background:none;

border:none;

color:var(--primary);

font-weight:700;

cursor:pointer;

}