.partners-section{

    padding:100px 0;

    background:white;

    overflow:hidden;

}

.partners-section .section-title{

    text-align:center;

    max-width:750px;

    margin:auto;

    margin-bottom:60px;

}

.partners-section span{

    color:#0d6efd;

    font-weight:700;

    letter-spacing:2px;

}

.partners-section h2{

    margin:20px 0;

    font-size:2.7rem;

    color:#10213a;

}

.partners-section p{

    color:#666;

    line-height:1.8;

}

.partners-slider{

    overflow:hidden;

    position:relative;

}

.partners-track{

    display:flex;

    width:max-content;

    animation:scrollPartners 30s linear infinite;

}

.partners-slider:hover .partners-track{

    animation-play-state:paused;

}

.partner-logo{

    width:220px;

    height:120px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:0 20px;

    background:white;

    border-radius:15px;

    box-shadow:0 8px 25px rgba(0,0,0,.06);

}

.partner-logo img{

    max-width:150px;

    max-height:70px;

    object-fit:contain;

    transition:.35s;

    filter:grayscale(100%);

}

.partner-logo:hover img{

    filter:none;

    transform:scale(1.08);

}

@keyframes scrollPartners{

    from{

        transform:translateX(0);

    }

    to{

        transform:translateX(-50%);

    }

}